# Install ipykernal to create a kernal for the ipython notebook for this virtual environment
ipykernal

# Enable jupyter lab
jupyterlab

# Utility for syncing notebooks with python or markdown
jupytext

# For pip-compile so that we can separate intent from detailed requirements
pip-tools
